.red {
	color: red;
}

.green {
	color: green;
}

.update {
	margin: 1rem 0;
	text-align: center;
}

.update_description {
	padding-right: .5rem;
}

.update_value {
	font-weight: bold;
}

.title {
	margin: 2rem 0 1rem;
	padding: 0 1rem;
}

.subtitle {
	font-size: 1.4rem;
	display: inline-block;
	padding-left: 1rem;
	color: gray;
}

.colDate,
.colSummaryMonths {
	display: block;
	width: 100%;
	text-align: center;
	font-size: .7rem;
	height: 100%;
	line-height: 1rem;
}

.colType {
	display: block;
	width: 100%;
	text-align: center;
}

.colAsset {
	display: block;
	width: 100%;
	text-align: center;
}

.colAmount,
.colSummaryTrades {
	display: block;
	width: 100%;
	text-align: right;
}

.colAmountDollar {
	display: block;
	width: 100%;
	text-align: right;
}

.colPrice,
.colSummaryProfit {
	display: block;
	width: 100%;
	text-align: right;
}
